@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
<h1>Welcome to CRUDelicious</h1>

    <div class="row">
        <div class="col">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Check out some recent dishes!</h5>
                    <ul class="list-group card-text">
                        @{
                            foreach(Dish d in ViewBag.allDishes)
                            {
                                <li class="list-group-item"> <a href="/dish/@d.DishId">@d.Name</a> by @d.Chef</li>
                            }
                        }
                    </ul>
                </div>
            </div>
        </div>

        <div class="col">

                <a type="button" class=" btn btn-primary text-light" href="/New">Add a Dish</a>

        </div>

    </div>
</div>
